// Font face

@font-face {
  font-family: "euclid_circular_bbold";
  src: url("../fonts/euclidcircularb-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "euclid_circular_bbold_italic";
//   src: url("../fonts/euclidcircularb-bolditalic-webfont.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "euclid_circular_blight";
  src: url("../fonts/euclidcircularb-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "euclid_circular_blight_italic";
//   src: url("../fonts/euclidcircularb-lightitalic-webfont.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "euclid_circular_bmedium";
  src: url("../fonts/euclidcircularb-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "euclid_circular_bMdIt";
//   src: url("../fonts/euclidcircularb-mediumitalic-webfont.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "euclid_circular_bregular";
  src: url("../fonts/euclidcircularb-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "euclid_circular_bitalic";
//   src: url("../fonts/euclidcircularb-regularitalic-webfont.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "euclid_circular_bsemibold";
  src: url("../fonts/euclidcircularb-semibold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "euclid_circular_bSBdIt";
//   src: url("../fonts/euclidcircularb-semibolditalic-webfont.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

h1 {
  font-size: $heading-h1;
}

h2 {
  font-size: $heading-h2;
}

h3 {
  font-size: $heading-h3;
}

p,
text {
  font-size: $default-font-size;
}
