// colors
$color-green: #2EB875;
$color-green-dark: #198852;
$color-green-light: #D9FDE5;
$color-blue: #4F5CD1;
$color-blue-light: #6675FF;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #e71111;
$color-yellow: #d2d426;


// buttons
$color-green-button: #22CA51;

// font
$heading-h1: 48px;
$heading-h2: 32px;
$heading-h3: 25px;
$default-font-size: 18px;

$font-family-regular: 'euclid_circular_bregular';
$font-family-bold: 'euclid_circular_bbold';
$font-family-light: 'euclid_circular_blight';
$font-family-medium: 'euclid_circular_bmedium';
$font-family-semi-bold: 'euclid_circular_bsemibold';

// global
$header-height: 20vh;
$page-height: 80vh;
$border-radius: 5px;
