.car-page {
  height: $page-height;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  // align-items: center;
}

.car-page__card {
  margin: 10px;
  background-color: $color-green;
  width: 31%;
  border-radius: 5px;
  padding: 10px;
  max-height: 310px;
  position: relative;
}

.car-page__card-container {
  color: $color-white;
  position: relative;
  text-align: center;
  margin-top: 30%;
  transform: translateY(-30%);
}

.car-page__card-title {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 10px;
}

.car-page__card-info {
  font-weight: 700;
  font-size: 45px;
}