.contact-page {
  height: $page-height;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  position: relative;
}

.contact-page__card {
  margin: 10px;
  background-color: $color-green;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  @include absCenter();
}

.contact-page__card-container {
  color: $color-white;
  position: relative;
  text-align: center;
  margin-top: 20%;
  transform: translateY(-20%);
}

.contact-page__card-title {
  font-weight: 500;
  font-size: 35px;
}

.contact-page__card-btn {
  height: 100px;
  width: 100px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $color-white;
  border-radius: 5px;
  margin-left: 50%;
  transform: translateX(-50%);

  &:hover {
    border-radius: 5px;
  }
}