.ent-page {
  height: $page-height;
  padding: 16px;

  .col-2 {
    padding-top: 10px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 24px;
    color: $color-black;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $color-green !important;
    color: $color-white;
  }
}

.ent-page__stations {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.ent-page__card {
  margin: 10px;
  background-color: $color-green;
  width: 31%;
  border-radius: 5px;
  padding: 10px;
}

.ent-page__card-container {
  color: $color-white;
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.ent-page__card-video {
  margin: 10px;
  background-color: $color-green;
  border-radius: 5px;
  padding: 20px;
}
