.main-page {
  height: $page-height;
  z-index: 0;
  position: relative;
}

.main-page__side-bar {
  position: absolute;
  top: 20vh;
  right: 0;
  display: none;
  max-height: 72%;
  width: 20vw;
  z-index: 1;
  background-color: rgba($color-white, 0.95);
  padding: 10px;
  overflow-y: scroll;

  &--is-open {
    display: block !important;
  }
}

.main-page__side-bar-title {
  font-size: 20px;
}

.main-page__side-bar-button {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 16px;
  top: calc(20vh + 16px);
  z-index: 90;
  color: $color-white;
  font-size: 40px;
  border-color: $color-white;

  &:after {
    content: "\2039";
    position: absolute;
    top: -10px;
    left: 17px;
  }

  &--is-open {
    right: calc(20% + 16px);

    &:after {
      content: "\203A";
    }
  }
}

.main-page__map {
  position: relative;

  img {
    width: 100%;
    height: $page-height;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.main-page__tooltip-wrap {
  position: relative;
}

.main-page__tooltip {
  position: absolute;
  width: 200px;
  max-width: 300px;
  padding: 10px;
  // height: 100px;
  right: 39px;
  top: -45px;
  background-color: $color-green-light;
  font-size: $heading-h3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  color: $color-green;
  border: 1px solid $color-green;
}

.main-page__tooltip-arrow {
  position: absolute;

  right: 39px;
  top: 2px;

  // width: 0;
  // height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid $color-green-light;
}

.main-page__tooltip-arrow--border {
  position: absolute;
  // width: 0;
  // height: 0;

  right: 39px;

  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid $color-green;
  z-index: -1;
}
