.settings-page {
  height: $page-height;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;

  // button css
  $green: $color-green;
  $red: #fc3164;

  $animtime: 1.5s;
  $easing: cubic-bezier(0.68, -0.15, 0.265, 1.35);
  $iteration: 1;

  .background {
    // width: 100vw;
    // height: 100vh;
    position: relative;
    background: $red;
    transition: 1.5s $easing;


  }
  .background--on {
    background: $green;
    transition: 1.5s $easing;
  }
  .toggle-body {
    margin-top: 20px;
    width: 7rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 4rem / 2);
    left: calc(50% - 7rem / 2);
    background: white;
    border-radius: 2rem;
    transform: rotate(0deg);
    transition: $animtime $easing;
  }
  .toggle-body--on {
    transform: rotate(180deg);
    transition: $animtime $easing;
  }
  .toggle-btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: calc(50% - 2rem / 2);
    left: calc(27% - 2rem / 2);
    background: white;
    border-radius: 2rem;
    background: $red;
    cursor: pointer;
    transform: rotate(0deg);
    transform-origin: 130% 115%;
    transition: $animtime $easing;
  }
  .toggle-btn--on {
    transition: $animtime $easing;
    transform: rotate(-357deg);
    background: $green;
    transform-origin: 130% 150%;
  }
}

.settings-page__card {
  margin: 10px;
  width: 31%;
  border-radius: 5px;
  padding: 40px 10px 10px 10px;
  max-height: 310px;

  &--aircon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
  }
}

.settings-page__card-title {
  color: $color-white;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}
