.welcome {
  background-color: $color-green;
  height: 100vh;
  width: 100%;
}

.welcome__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 150px 200px 150px;
  background-color: $color-white;
  @include absCenter();
  border-radius: $border-radius;
}

.welcome__btn {
  padding: 10px 44px;
  font-size: $heading-h2;
  margin-bottom: 40px;

  i {
    padding-left: 10px;
  }
}

.welcome__title {
  padding-bottom: 40px;
  font-weight: 700;
}

.welcome__text {
  padding-bottom: 40px;
}

.welcome__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .modal-dialog {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;

  }
  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
  }
  .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .modal-body {
    position: absolute;
    top: 50px;
    bottom: 0;
    font-size: 15px;
    overflow: auto;
    margin-bottom: 60px;
    padding: 0 15px 0;
    width: 100%;
  }
  .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    border: none;
  }
}

.welcome__image {
  height: 300px;
  width: 100%;
}

.welcome__logo {
  height: 100px;
  width: auto;
  position: absolute;
  bottom: 70px;
}
