.btn-primary {
  background: $color-green;
  border-color: $color-green;

  &:hover {
    background: $color-green-light;
    color: $color-green;
    border-color: $color-green;
  }

  &:focus,
  .focus {
    border-color: $color-green;
    background: $color-green-light;
    color: $color-green;
    box-shadow: 0 0 0 0.2rem rgba(46,184,117,1);
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $color-green;
    border-color: $color-green;
  }
}

.btn-secondary {
  background: $color-blue;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background: $color-blue-light;
    outline: none;
  }
}

.btn-light {
  background: $color-white;
  border: none;
  color: $color-green;

  &:hover,
  &:focus,
  &:active {
    background: $color-white;
    outline: none;
  }
}