.driving-style {
  background-color: $color-white;
  border-radius: $border-radius;
  border: 1px solid $color-green;
  position: absolute;
  right: 0;
  bottom: 0;
  color: $color-black;
  font-size: $heading-h3;
  padding: 2px;
  width: 390px;
  height: 50px;
  margin: 16px;
  z-index: 90;

  &--right {
    border: 1px solid $color-red;
  }

  .fa {
    position: absolute;
    top: 10px;
  }

  .fa-caret-right {
    // margin-right: -5px;
    display: inline-block;
    right: 10px;
  }

  .fa-caret-left {
    display: none;
    left: 10px;
  }
}

.driving-style__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.driving-style__button {
  position: absolute;
  color: $color-white;
  left: 0;
  height: 40px;
  width: 100px;
  background-color: $color-green;
  border-radius: $border-radius;
  margin: 0 4px;
  padding: 6px 20px;
  font-size: 20px;

  &--right {
    background-color: $color-red;
    right: 0;
    left: auto;
    border: $color-red;
  }

  &:hover {
    color: $color-white;

    .fa-caret-right {
      right: 5px;
    }

    .fa-caret-left {
      left: 5px;
    }
  }
}
