.modal {
  font-family: $font-family-regular;
}

.modal-body {
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--padding {
    padding: 100px !important;
  }
}

.modal-title {
  // margin: 0 auto;
  &--footer {
    // margin-left: 0;
  }
}

.modal-footer {
  &--between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.modal__close-btn {
  color: $color-green;
  opacity: 0.7;
  transition: 0.3s opacity ease;

  &:hover {
    opacity: 1;
  }
}

.modal__img--center {
}

.modal__locations-wrap {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.modal__location {
  width: 33.33%;
  border: 5px solid $color-white;
  transition: transform 0.4s ease;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    border: 5px solid $color-green;
    transform: scale(1.05);
  }

  &--active {
    border: 5px solid $color-green;
    transform: scale(1.05);
  }
}

.modal__location-img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.modal-body--guide {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__quickguide-img {
  object-fit: contain;
  max-width: 95vw;
}

.modal__overlay {
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $color-green-light, $alpha: 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 72px;
  color: $color-green;
}

.modal__stopping-btn {
  font-size: 25px;
}

.modal__stopping-btn--active {
  border-color: #2eb875;
  background: #d9fde5;
  color: #2eb875;
  box-shadow: 0 0 0 0.2rem #2eb875;
}
