.navigation {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 90;
  padding: 16px;
}

.navigation__btn {
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-white;
  &:not(:last-child) {
    margin-right: 5px,
  }

  &--info {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}