.header {
  display: block;
  height: $header-height;
  padding: 16px;
  background: $color-green;
  position: relative;
}

.header__col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}

.header__location {
  // position: absolute;
  // bottom: 15px;
  // left: 16px;
  // margin: 0;
  color: $color-white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header__location--right {
  // right: 30px;
  // bottom: 15px;
  // left: auto;
  // left: 16px;
  margin-right: 0;
  margin-left: auto;
}

.header__logo {
  height: 50px;
  width: auto;
  position: absolute;
  left: 16px;
  top: 0;
}

.header__location-btn {
  height: 50px;
  width: 50px;
  font-size: $heading-h3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.header__col--middle {
  padding: 10px;
  margin-bottom: 25px;
  display: flex;
  border-radius: $border-radius;
  justify-content: space-around;
  background-color: $color-white;
  // bottom: 10px;

  @media only screen and (max-height: 730px) {
    margin-top: -16px;
  }
}

.header__start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: $heading-h3;
  padding: 0 25px;
  width: 120px;
}

.header__info {
  font-weight: 700;
  font-size: $heading-h3;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &--right {
    text-align: center;
    img {
      height: 50px;
      width: auto;
    }
  }
}

.fa-map-marker {
  font-size: 30px;
}

.header__row--range {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $color-white;
  // height: 25px;
}

.header__row {
  height: 100%;
}

/* CUSTOM RANGE INPUT */
.range-div {
  position: relative;
  width: 100%;
  height: 25px;
  z-index: 1;
}

.range {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}

.range:active::-webkit-slider-thumb {
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
}

.range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // background: #1299E6;
  // border-radius: 30px;
  // cursor: grab;

  width: 107px;
  height: 45px;
  // background: url(../imgages/left-right.svg) $color-green-dark no-repeat;
  background: $color-green-dark;
  background-position: center;
  background-size: 65px auto;
  border-radius: $border-radius;
  cursor: pointer;
}

.range-thumb {
  position: absolute;
  left: 0;
  /* half :thumb width */
  top: -3px;
  width: 100px;
  /* same as :thumb */
  height: 30px;
  /* same as :thumb */
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-family: $font-family-semi-bold;
  font-size: 16px;
  pointer-events: none;
  /* ignore mouse */
}

.range-thumb::before {
  content: attr(data-val) " ";
}

.range--red {
  &::-webkit-slider-thumb {
    background: $color-red;
    background-position: center;
    background-size: 35px auto;
  }
}

.range--yellow {
  &::-webkit-slider-thumb {
    background: $color-yellow;
    background-position: center;
    background-size: 35px auto;
  }
}

.range--neutral {
  &::-webkit-slider-thumb {
    background: $color-green-dark;
    background-position: center;
    background-size: 65px auto;
  }
}

.range--blue {
  &::-webkit-slider-thumb {
    background: $color-blue;
    background-position: center;
    background-size: 35px auto;
  }
}

.range--green {
  &::-webkit-slider-thumb {
    background: $color-green-dark;
    background-position: center;
    background-size: 35px auto;
  }
}
